.createpage__main {
  height: 100vh;
  padding: 2rem;
  background-color: var(--lightpetrol);
}

.createpage__form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 20px auto;
  flex-wrap: wrap;
  padding: 1.5rem;
  border: 1px dotted var(--darkpetrol);
  border-radius: 10px;
  position: relative;
}
.label__textarea1,
.label__textarea2,
.label__input1 {
  padding: 1rem 0 0.5rem 0;
}

.create_output {
  border: 0.5px solid var(--petrolgrey);
  width: 40px;
  height: 20px;
  text-align: right;
  font-size: 0.9rem;
  padding: 2px;
}

.create_output1 {
  position: absolute;
  left: 390px;
  top: 40px;
}

.create_output2 {
  position: absolute;
  left: 390px;
  top: 177px;
}

textarea {
  margin-bottom: 2rem;
  padding: 0.5rem;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.quiz-app__button--submit {
  width: 40%;
  height: 40px;
  background-color: var(--petrolgrey);
  color: var(--white);
  align-self: center;
  margin: 20px 20px 20px 40px;
  border-radius: 8px;
  grid-row: 4 / 5;
}
