.createpage__form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  flex-wrap: wrap;
  padding: 1.5rem;
  border: 1px dotted var(--darkpetrol);
  border-radius: 10px;
  position: relative;
}

.create-label__textarea1,
.create-label__textarea2,
.create-label__input1 {
  padding: 1rem 0 0.5rem 0;
}

.create__output {
  border: 0.5px solid var(--petrolgrey);
  min-width: 40px;
  min-height: 20px;
  text-align: right;
  font-size: 0.9rem;
  padding: 2px;
  position: absolute;
  left: 190px;
  color: var(--silver);
}

.create__output1 {
  top: 36px;
}

.create__output2 {
  top: 220px;
}

.createpage__textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.createpage__textarea--1 {
  height: 120px;
}

.createpage__textarea--2 {
  height: 220px;
}

.createpage__input {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.quiz-app__button--submit {
  width: 40%;
  height: 40px;
  background-color: var(--petrolgrey);
  color: var(--white);
  align-self: center;
  margin: 20px 20px 20px 40px;
  border-radius: 8px;
  grid-row: 4 / 5;
}
