.createpage__main {
  height: 100vh;
  padding: 1rem;
  background-color: var(--lightpetrol);
}

.createpage__form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 20px 0;
}
.label__textarea1,
.label__textarea2,
.label__input1 {
  padding: 1rem 0 0.5rem 0;
}

textarea {
  margin-bottom: 2rem;
  padding: 0.5rem;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.quiz-app__button--submit {
  width: 40%;
  height: 40px;
  background-color: var(--petrolgrey);
  color: var(--white);
  align-self: center;
  margin: 20px 20px 20px 40px;
  border-radius: 8px;
  grid-row: 4 / 5;
}
