.createpage__form {
  display: flex;
  flex-direction: column;
  margin: 30px 10px 10px;
  flex-wrap: wrap;
  padding: 1rem;
  border: 1px dotted var(--petrolgrey);
  border-radius: 10px;
  position: relative;
}

.create-label__textarea1,
.create-label__textarea2,
.create-label__input1 {
  padding: 1rem 0 0.5rem 0;
}

.create__output {
  /*border: 0.5px dotted var(--petrolgrey);*/
  min-width: 40px;
  min-height: 20px;
  text-align: right;
  font-size: 0.9rem;
  padding: 2px;
  /*position: absolute;*/
  left: 300px;
  color: var(--silver);
  display: inline;
  text-align: end;
}

.createpage__textarea {
  margin-bottom: 0.3rem;
  padding: 0.5rem;
}

.createpage__textarea--1 {
  height: 108px;
}

.createpage__textarea--2 {
  height: 176px;
}

.createpage__input {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.createpage__button--submit {
  width: 40%;
  height: 40px;
  background-color: var(--petrolgrey);
  color: var(--white);
  align-self: center;
  margin: 20px 20px 20px 40px;
  border-radius: 8px;
  grid-row: 4 / 5;
}
