* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-container {
  background-color: var(--white);
  border: 2px solid var(--darkpetrol);
  grid-row: 3 / 4;
  height: 48px;
}

.nav-container__list {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 25% 25% 25% 25%;
  place-items: center;
  height: 46px;
}

.nav-container__item {
  list-style: none;
  display: inline;
  margin-bottom: 2px;
}

.item1 {
  grid-column: 1 / 2;
}

.item2 {
  grid-column: 2 / 3;
}

.item3 {
  grid-column: 3 / 4;
}

.item4 {
  grid-column: 4 / 5;
}

.nav-container__item--aktiv {
  background-color: var(--lightpetrol);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
