<nav class="nav-container">
  <ul class="nav-container__list">
    <li class="nav-container__listitem">
      <a href="#"
        ><img
          src="../../images/icons8-home.svg"
          width="32"
          height="32"
          alt="Go to starting page"
          class="nav-container__home-icon"
      /></a>
    </li>
    <li class="nav-container__listitem">
      <a href="bookmarks.html"
        ><img
          src="../../images/icons8-bookmark.svg"
          width="32"
          height="32"
          alt="Go to page Bookmarks"
          class="nav-container__bookmark bookmark--off"
      /></a>
    </li>
    <li class="nav-container__listitem">
      <a href="create.html"
        ><img
          src="../../images/icons8-idea.svg"
          width="32"
          height="32"
          alt="Go to page Create Cards"
          class="nav-container__create-icon"
      /></a>
    </li>
    <li class="nav-container__listitem">
      <a href="profil.html"
        ><img
          src="../../images/icons8-for-you.svg"
          width="32"
          height="32"
          alt="Go to profile page"
          class="nav-container__profile-icon"
      /></a>
    </li>
  </ul>
</nav>
