<!DOCTYPE html>

<nav class="nav-container">
  <ul class="nav-container__list">
    <li class="nav-container__item nav-container__item--aktiv item1">
      <a href="index.html"
        ><img
          src="../../images/icons8-home.svg"
          width="36"
          height="36"
          alt="Go to starting page"
          class="nav-container__home-icon"
      /></a>
    </li>
    <li class="nav-container__item item2">
      <a href="bookmarks.html"
        ><img
          src="../../images/icons8-bookmark.svg"
          width="36"
          height="36"
          alt="Go to page Bookmarks"
          class="nav-container__bookmark bookmark--off"
      /></a>
    </li>
    <li class="nav-container__item item3">
      <a href="create.html"
        ><img
          src="../../images/icons8-idea.svg"
          width="36"
          height="36"
          alt="Go to page Create Cards"
          class="nav-container__create-icon"
      /></a>
    </li>

    <li class="nav-container__item item4">
      <a href="profil.html"
        ><img
          src="../../images/icons8-for-you.svg"
          width="36"
          height="36"
          alt="Go to profile page"
          class="nav-container__profile-icon"
      /></a>
    </li>
  </ul>
</nav>
