* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.h-500 {
  height: 500px;
}

.h-100vh {
  height: 100vh;
}

.bg-blue {
  background-color: skyblue;
}

.bg-coral {
  background-color: coral;
}

.bg-hotpink {
  background-color: hotpink;
}

.app-card__bookmark--activated {
  background-color: var(--red);
}

.app-card__bookmark--not-activated {
  background-color: var(--white);
}

.shadow {
  box-shadow: inset 0 -0.5em 0 -0.4em rgba(0, 0, 0, 0.2);
}

.shadow--bottom {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.button--submit-function {
  background-color: var(--petrolgrey);
  color: var(--white);
}

.nav-container {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
